.fade-enter, .fade-leave-to {
  opacity: 0
}

.fade-enter-active, .fade-leave-active {
  transition: all .2s linear;
}

.slide-up-enter, .slide-up-leave-to {
  transform: translate3d(0, 100%, 0)
}

.slide-up-enter-to, .slide-up-leave {
  opacity: .5
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: all .3s ease-out
}
